::-webkit-scrollbar {
  display: none;
}
.darkModeTis .css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  color: white !important;
}
.darkModeTis .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
}